<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        {{estilo}}
    </style>
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>{{title_page}}</h1>
    </header>
    <main>
        <section>
            <h2>Sobre Daniel Layon</h2>
            <p>Desenvolvedor com vastas habilidades em várias tecnologias, incluindo:</p>
            <ul>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Node.js</li>
                <li>DataFlex</li>
                <li>C#</li>
                <li>React</li>
                <li>React Native</li>
            </ul>
        </section>
    </main>
</body>
</html>